page-home {

  .title-icon {
    padding-left: 5px;
    font-size: 2.2rem;
  }

  .card-md h2 {
    color: rgb(16, 92, 191);
    font-weight: bolder;
    font-size: 2rem;
    padding-right: 20px;
  }

  .card-md p {
    font-size: 1.8srem;
    color: #666;
  }


}
