page-home {

  .reddy{
    //color: green;
  }

  // .card-md h2 {
  //   color: #eee;
  // }

  .card-md h2 {
    color: rgb(16, 92, 191);
    font-weight: bolder;
    font-size: 2rem;
    padding-right: 20px;
  }

  .card-md p {
    font-size: 1.8rem;
    color: #666;
  }


}
