<ion-header>
  <ion-navbar  color="primary" >

    <ion-title>
        Reddit Funnies
        <ion-icon class='title-icon' name="happy"></ion-icon>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <video loop [src]="post.data.url" [poster]="post.data.snapshot">
  </video> -->
    <div *ngFor="let post of posts; let i = index" >
        <ion-card>

            <ion-item (click)="showUser(i)">

              <h2>{{post['author']}}</h2>
              <!-- <div ion-button icon-start clear small  style='margin-left: 0px; padding: 0px'>

                  <ion-icon name="sunny"></ion-icon>
                  <div>karma: {{karmaUrl[i]}}</div>
              </div> -->
            </ion-item>

            <img [src]="post['url']">

            <ion-card-content (click)="showComments(post)">
              <p >{{post['title']}}</p>
            </ion-card-content>

            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>Ups: {{post['ups']}}</div>
                </button>
              </ion-col>
            </ion-row>

          </ion-card>

    </div>


  <!-- <ion-list>
    <div *ngFor="let post of posts; let i = index" (click)="showComments(post)">
      <ion-list-header  style="text-align: left;">
      {{post['title']}}
    </ion-list-header>
    <ion-item>
      <div>
          <div>{{post['author']}}</div>
          <img [src]="avatarUrl[i]" />

      </div>

      <img [src]="post['url']" />
    </ion-item>

  </div>
  </ion-list> -->
</ion-content>
